html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;

}

body {
    padding: 0 200px;
    margin: 0px;
    border: 1px solid black;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
s
section :nth-child(1) {
    padding: 0px;
    background-color: lightgrey;

}

nav .nav-mid {
    display: flex;
    flex: 0 1 90%;
    justify-content: center;
    padding: 0 40px;
}
nav .nav-icons {
    display: flex;
    flex: 0 1 65%;
    justify-content: end;
    border: 2px solid black ;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
}

